@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string date1 = ViewBag.Date1;
    string date2 = ViewBag.Date2;
    //int i = 0;
}
@model List<SayuJapnShop.Models.Vinvoice>

<div class="m-2">
    <p class="text-center" style="font-size:25px">Export</p>
    <div class="mt-1 mb-3 d-flex align-items-center justify-content-center" style="height:100px;border:2px solid black">
        <form method="get" asp-action="ExportView">
            <input name="Date1" value="@date1" type="date" style="padding:8px;width:300px;border-radius:5px;border:2px solid grey;margin-right:10px" />
            <input name="Date2" value="@date2" type="date" style="padding:8px;width:300px;border-radius:5px;border:2px solid grey;margin-right:10px" />

            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <table class="table table-hover" style="border-radius:5px;box-shadow:0 2px 2px 2px grey">
        <thead>
            <tr>
                <th>No</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Item</th>
                <th>Price</th>
                <th>Qty</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {

                <tr>
                    <td>@invoice.InvoiceId</td>
                    <td>@invoice.CustomerName</td>
                    <td>@invoice.Date</td>
                    @foreach (var firstInvoice in (List<Vexport>)ViewBag.FirstInvoice)
                    {
                        if (firstInvoice.InvoiceId == invoice.InvoiceId)
                        {
                            <td>@firstInvoice.ItemName</td>
                            <td>$@firstInvoice.Price</td>
                            <td>@firstInvoice.Qty</td>
                        }

                    }

                </tr>

                @foreach (var item in (List<Vexport>)ViewBag.InvoiceItems)
                {
                    if (item.InvoiceId == invoice.InvoiceId)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@item.ItemName</td>
                            <td>$@item.Price</td>
                            <td>@item.Qty</td>
                        </tr>
                    }

                }
            }


        </tbody>
    </table>
</div>
